.report_div {
  max-width: 1000px;
  margin-top: 10px;
  float: left;
  overflow: auto;
  height:calc(100vh - 180px);
}

.bar {
  background-color: #777788;
}

.bar_table {
  width: 100%;
}

.bar_table th, .bar_table td {
  margin:0;
  padding:0;
}

.report_line {
  color: #000077;
  cursor:pointer;
}

.report_heading, .detail_heading {
  white-space: nowrap;
  cursor:pointer;
  border: 1px solid black;
}

.bar_holder {
  min-width: 120px;
}