.dimension {
  margin: 8px;
  padding: 8px;
  max-width: 400px;
  border: 1px solid black;
  padding-bottom: 6px;
}

.dim_groupby, .dim_normal {
  color:white;
  font-weight:600;
  height: 24px;
}

.dim_groupby {
  background-color: #772211;
}

.dim_normal {
  background-color: #221177;
  cursor:pointer;
}

.dim_toobig {
  background-color: #777777;
  color: white;
}

.dim_table {
  width: 100%;
}

.dim_name, .dim_count {
  margin: 1px;
  padding: 3px;
  white-space: nowrap;
}

.dim_name {
  text-align: left;
}

.dim_count {
  text-align: right;
  margin-left: 10px;
}

.selected_value {
  float: left;
  max-width: 200px;
  margin-top: 6px;
  min-height: 20px;
  margin-left:10px;
  margin-right:5px;
  background-color: #EFEFEF;
  font-weight:bold;
  border:1px solid #BBBBBB;
  cursor:pointer;
}

.arrows_div {
  vertical-align: top;
  cursor: pointer;
  height: 22px;
}

.next_dim {
  padding-top: 4px;
}
.prev_dim {
  padding-right: 3px;
}

td {
 // border: 1px solid red;
}

.arrow {
  font-size:16pt;
  width: 26px;
  height: 26px;
  margin: -5px;
}

.arrow:hover{
 // border-width:0 `px 2px 0;
 // margin-right:1px;
  position:relative;
  left:2px;
  top:3px;
  color: white;
  background-color: darkblue;
  border-radius: 10px;
}

button:focus {
  outline:0;
}